/*ANIMACIONES PARA TODO EL SITIO*/
html {
  animation-duration: 4s;
  animation-name: aparecer;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*ANIMCION DE ILUSTRACION EN EL INDEX*/
#hoja-1,
#hoja-3 {
  animation: viento 1.3s ease infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}
#hoja-2,
#hoja-4 {
  animation: viento 1.7s ease infinite alternate-reverse;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes viento {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(30deg);
  }
}
