/*ANIMCION Y ESTILOS DE LOS BOTONES*/
.boton {
  background-color: var(--primary) !important;
  border: var(--primary) !important;
  font-weight: 500;
  transition: 0.2s ease !important;
}
.boton:hover {
  background-color: var(--primary) !important;
  border: var(--primary) !important;
  letter-spacing: 3px;
}
