footer {
  width: 100%;
  position: absolute;
  bottom: -100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navfooter ul {
  display: flex;
  text-decoration: none;
  list-style: none;
}
.navfooter ul li {
  margin: 10px;
}
.nav-logos {
  color: #111;
  padding: 10px;
  font-size: 35px;
  transition: 0.5s;
}

.nav-logos:hover {
  color: #bf365a;
  transform: translateY(-15px);
}
