/*ANIMACIONES Y ESTILO PARA PARTE DE ALBUM*/
.galeria {
  display: block;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  .galeria__img {
    width: 100%;
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0.5rem;
    cursor: pointer;
    transition: 0.3s ease;
  }
}
.galeria__img:hover {
  opacity: 0.6;
}
@media only screen and (max-width: 900px) {
  .galeria {
    display: block;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    .galeria__img {
      width: 100%;
      max-width: 100%;
      height: 250px;
      object-fit: cover;
      border-radius: 10px;
      margin: 0.3rem;
    }
  }
}
