@for $i from 1 through 3 {
  .img-galeria-#{$i} {
    width: 100%;
    height: 100%;
  }
}
.galeria {
  display: block;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  .galeria__img {
    width: 100%;
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 2rem;
    margin: 0.5rem;
  }
}
