* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
}
:root {
  --primary: #bf365a;
  --secundary: white;
}
#logo {
  margin-right: 5px;
}
.navbar {
  min-height: 90px;
}
.nav-bar li a:hover {
  background-color: var(--primary);
  color: var(--secundary) !important;
}
.ubicacion {
  background-color: var(--primary);
}
