$ancho: 1000px;
$altura: 1000px;
/*CLASE PARA PONERLE COLORES A LOS ELEMENTOS*/
.color-primario {
  color: var(--primary);
}
/*ESTILOS PARA UBICAR CONTENIDO*/
.content {
  max-width: $ancho/2;
}
#hero {
  height: ($altura)-100;
}
/*CLASE PARA DARLE COLOR A ELEMENTOS DE LA SECCION CLIENTES*/
.user {
  color: var(--primary);
}
.section-error {
  height: 80%;
  margin: auto;
}
/*ESTILO PARA LOS TEXTOS*/
.texto {
  text-align: justify;
}

@media only screen and (max-width: 900px) {
  .name-brand {
    display: none;
  }
}
