$ancho: 1000px;
$altura: 1000px;
.color-primario {
  color: var(--primary);
}
.content {
  max-width: $ancho/2;
}
#hero {
  height: ($altura)-100;
}
.user {
  color: var(--primary);
}
.section-error {
  display: flex;
  justify-content: center;
  align-items: center;
}
