$ancho: 1000px;
$altura: 1000px;
/*CLASE PARA PONERLE COLORES A LOS ELEMENTOS*/
.color-primario {
  color: var(--primary);
}
*::selection {
  background-color: #bf365a;
  color: var(--secundary);
}
/*ESTILOS PARA UBICAR CONTENIDO*/
.content {
  max-width: 500px;
}
#hero {
  height: 900px;
}

@media only screen and (max-width: 900px) {
  .clientes {
    border: solid rgb(184, 184, 184) 0.025rem;
    padding: 2rem;
    border-radius: 0.3rem;
  }
}
/*CLASE PARA DARLE COLOR A ELEMENTOS DE LA SECCION CLIENTES*/
.user {
  color: var(--primary);
}
.section-error {
  height: 80%;
  margin: auto;
}
/*ESTILO PARA LOS TEXTOS*/
.texto {
  text-align: justify;
}

/*ELIMINACION DE NOMBRE DE LA EMPRESA */
@media only screen and (max-width: 900px) {
  .name-brand {
    display: none;
  }
}
